@model PokeMVC.Models.TrainerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainerDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsGymLeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsGymLeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEliteFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEliteFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsChampion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsChampion)
        </dd>

    </dl>
</div>

<div>
    <h4>Trainer's Team</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var pokemon in Model.TrainerTeam)
        {
            <dt>
                @Html.DisplayNameFor(_ => pokemon.PokedexNumber)
            </dt>

            <dd>
                @Html.DisplayFor(_ => pokemon.PokedexNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(_ => pokemon.Species)
            </dt>

            <dd>
                @Html.DisplayFor(_ => pokemon.Species)
            </dd>

            <dt>
                @Html.DisplayNameFor(_ => pokemon.Level)
            </dt>

            <dd>
                @Html.DisplayFor(_ => pokemon.Level)
            </dd>

            <dt>
                @Html.DisplayNameFor(_ => pokemon.PrimaryType)
            </dt>

            <dd>
                @Html.DisplayFor(_ => pokemon.PrimaryType)
            </dd>

            <dt>
                @Html.DisplayNameFor(_ => pokemon.SecondaryType)
            </dt>

            <dd>
                @Html.DisplayFor(_ => pokemon.SecondaryType)
            </dd>

            <hr />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
