@model PokeMVC.Models.PokemonDetail
@{ 
    var emptyMove = new PokeMVC.Models.MoveListItem();
}
<div>
    <h4>PokemonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokemonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PokedexNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PokedexNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvoCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvoCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalRegion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLegendary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLegendary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMythical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMythical)
        </dd>

    </dl>

    <div>
        <table class="table">
            <tr>
                <th>
                    <b> Move ID </b>
                </th>
                <th>
                    <b> Move Name </b>
                </th>
                <th>
                    <b> Move Power </b>
                </th>
                <th>
                    <b> Move Accuracy </b>
                </th>
                <th>
                    <b> Move PP </b>
                </th>
                <th>
                    <b> Extra Effect </b>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Moves)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoveId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoveName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovePower)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoveAccuracy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovePP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtraEffect)
                    </td>
                </tr>
            }
        </table>
    </div>   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PokemonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
